 @use '../../Style/colors.scss' as *;

 body{font-family: "Inter", sans-serif;}
.taskForm{
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    max-width: 920px;
    margin: 60px auto;
    padding: 2rem ;
    background:$white;
    border-radius: .5rem;
    &__title{
        font-size:1.5rem;
        font-weight: bold;
    }
    &__input{
        padding: 0.75rem 1rem;
        border: 1px  solid $greyLigth;
        border-radius:8px;
        outline: none;
        font-size: 14px;
        transition: 0.2s ease;
        &:focus{
            border-color:$blueLight;
            box-shadow: 0 0 0 3px rgba(79,70,229,0.15);
        }
    }
    &__button{
        padding: 0.75rem 1rem;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        background:$blueLight;
        color:$white;
        font-weight: 600;
        transition: 0.2s ease;
        &:hover{
             background: #4338ca;
             opacity:0.1;
        }
         &:active {
            transform: scale(0.98);
       }
    }

}